<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530061653326-7vd7pbhs47dp5fjdg5ogl9skcpe7d7ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530061653326-7vd7pbhs47dp5fjdg5ogl9skcpe7d7ea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>530061653326-k20d507t3vhkrnpo3n2teltgec98dltt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCR6W3j4gnPpskm9fz8zgsvXP9MK3ltJ_s</string>
	<key>GCM_SENDER_ID</key>
	<string>530061653326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaydev.murdjaju</string>
	<key>PROJECT_ID</key>
	<string>murdjaju</string>
	<key>STORAGE_BUCKET</key>
	<string>murdjaju.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530061653326:ios:6b5085676d06826c611a1f</string>
</dict>
</plist>